* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  color: #111111;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  box-shadow: 0 5px 15px 0 #11111133;
  z-index: 1000;
}

.openButton {
  font-size: 2rem;
  cursor: pointer;
}

.logo {
  font-size: 1rem;
}

.nav-links {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background-color: #111111;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.closeButton {
  position: absolute;
  font-size: 2rem;
  right: 0;
  padding: 10px 20px;
  color: #eeeeee;
  cursor: pointer;
}

.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  /* background-color: aqua; */
  text-decoration: none;
  color: #eeeeee;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 30px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.imgBox {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #111111;
  padding: 5px;
  transform: scale(70%);
}

.imgBox img {
  width: 100%;
  border-radius: 50%;
}

.textBox {
  text-align: center;
}

.textBox h1 {
  font-size: 3rem;
}

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: #111111;
  color: #eeeeee;
}

.tittle {
  text-align: center;
  padding: 70px 0 20px;
  font-size: 2.4rem;
}

.project-tile {
  height: 80vh;
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-tile a {
  text-decoration: none;
}

.project {
  width: 100%;
  height: 200px;
  background-color: #333333;
  border-radius: 5px;
  transition: 0.5s transform;
}

.project:hover {
  transform: scale(1.01);
}

.project h1 {
  width: 100%;
  height: 150px;
  color: #111111;
  background-color: #eeeeee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 2.2rem;
}

.project p {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 500;
  font-size: 1.3rem;
  color: #eeeeee;
}

.contact {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
}

.sm-tile {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 75px;
}

.grid {
  display: grid;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;
}

.grid:hover {
  background-color: #111111;
  color: #eeeeee;
}

.fab {
  font-size: 2.4rem;
  padding: 30px;
}

.grid p {
  font-size: 1.2rem;
  font-weight: 500;
}
